@using intrapp.DataAccess
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink(ConfigWrapper.AppName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-elements"
                        aria-controls="navbar-elements" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div id="navbar-elements" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">@Html.ActionLink("Champions", "Index", "Champion", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Statistics", "Index", "Statistic", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Leaderboards", "Index", "Leaderboard", null, new { @class = "nav-link" })</li>
                </ul>
                @using (Html.BeginForm("SummonerInfo", "Summoner", FormMethod.Post, new { id = "SummonerNameFormNavbar", @class = "form-inline justify-content-center" }))
                {
                    @Html.TextBox("summonerName", "", new { @class = "form-control", placeholder = "Enter a summoner name", style = "margin-right: 5px;" });
                    <input type="submit" class="btn btn-primary" value="Submit" />
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Intrapp</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
