@model List<intrapp.Models.LeagueEntry>
<div class="row">
    @foreach (var leagueEntry in Model)
    {

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-3">
                    <img src="~/DataAccess/RiotGamesApi/Images/Emblems/Emblem_Challenger.png" alt="Image unavailable" height="80" width="80" />
                </div>
                <div class="col-md-9">
                    @if (leagueEntry.QueueType == "RANKED_SOLO_5x5")
                    {
                        <span style="display: block;"><small>Ranked solo</small></span>
                    }
                    else
                    {
                        <span style="display: block;"><small>Ranked Flex</small></span>
                    }
                    <span style="display: block;"><b>@leagueEntry.Tier @leagueEntry.Rank</b></span>
                    <span style="display: block;">@(leagueEntry.LeaguePoints)LP / @(leagueEntry.Wins)W - @(leagueEntry.Losses)L</span>
                    <span style="display: block;">Win rate @leagueEntry.WinRate%</span>
                </div>
            </div>
        </div>
    }
</div>