@model intrapp.Models.MatchBreakdown
@using intrapp.Extensions.String
<div style="margin-top: 20px;"></div>
<ul class="nav nav-tabs" style="margin-bottom: 10px;">
    <li class="nav-item">
        <a class="nav-link active" href="#">Overview</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Analysis</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Build</a>
    </li>
</ul>
<div id="MatchBreakdown_@Model.GameId">
    @foreach (var team in Model.ParticipantsForDisplayByTeam)
    {
        <div class="col-md-12">
            <div class="titles-row">
                <div class="title-summoner">
                    Summoner
                </div>
                <div class="title-kda">
                    KDA
                </div>
                <div class="title-damage">
                    Damage
                </div>
                <div class="title-wards">
                    Wards
                </div>
                <div class="title-cs">
                    CS
                </div>
                <div class="title-items">
                    Items
                </div>
            </div>
            @foreach (var participant in team)
            {
                <div class="summoner-data-row">
                        <div class="summoner-images-container">
                            <img src="@participant.ChampionIconUrl" alt="Image unavailable" height="40" width="40" />
                            <img class="summoner-spell-one-breakdown" src="@participant.SummonerSpell1IconUrl" alt="Image unavailable" height="18" width="18" />
                            <img class="summoner-spell-two-breakdown" src="@participant.SummonerSpell2IconUrl" alt="Image unavailable" height="18" width="18" />
                            <img class="keystone-breakdown" src="@participant.RuneKeystoneIconUrl" alt="Image unavailable" height="18" width="18" />
                            <img class="secondary-path-breakdown" src="@participant.RuneSecondaryPathIconUrl" alt="Image unavailable" height="18" width="18" />
                            <span class="summoner-name-breakdown">@participant.ParticipantIdentity.Player.SummonerName.Truncate(150)</span>
                        </div>
                        <div class="kda-container">
                            @{
                                var kills = participant.Participant.Stats.Kills;
                                var deaths = participant.Participant.Stats.Deaths;
                                var assists = participant.Participant.Stats.Assists;

                                var kda = Math.Round((double)(kills + assists) / deaths, 2);
                            }
                            @participant.Participant.Stats.Kills/@participant.Participant.Stats.Deaths/@participant.Participant.Stats.Assists<br />
                            @(kda):1
                        </div>
                        <div class="damage-dealt-container">
                            @{
                                var raw = (double)participant.Participant.Stats.TotalDamageDealtToChampions / Model.HighestDamageDealtToChampionsByAParticipant;
                                var notrounded = raw * 100;
                                var percentageDmgDealt = (int)Math.Round(notrounded);
                            }
                            <div style="text-align:center;">@participant.Participant.Stats.TotalDamageDealtToChampions</div>
                            <div class="damage-dealt-max">
                                <div class="damage-dealt" style="width: @percentageDmgDealt%;"></div>
                            </div>
                        </div>
                        <div class="wards-container">
                            <div class="wards-tooltip">
                                <span class="wards-tooltip-text">
                                    @participant.Participant.Stats.VisionWardsBoughtInGame Control Wards<br />
                                    Wards placed: @participant.Participant.Stats.WardsPlaced<br />
                                    Wards killed: @participant.Participant.Stats.WardsKilled
                                </span>
                                @participant.Participant.Stats.VisionWardsBoughtInGame<br />
                                @participant.Participant.Stats.WardsPlaced / @participant.Participant.Stats.WardsKilled
                            </div>
                        </div>
                        <div class="creep-score-container">
                            <span>@participant.Participant.Stats.TotalMinionsKilled</span><br />
                            <span style="font-size: 12px;">@Math.Round(participant.Participant.Stats.TotalMinionsKilled / TimeSpan.FromSeconds(Model.GameDuration).TotalMinutes, 1)/min</span>
                        </div>
                        <div class="items-container">
                            <div style="margin-top: 5px; text-align: center; margin-left: auto; margin-right: auto;">
                                <img class="league-item-breakdown" src="@participant.Items.Item0Url" alt="Image unavailable" height="35" width="35" />
                                <img class="league-item-breakdown" src="@participant.Items.Item1Url" alt="Image unavailable" height="35" width="35" />
                                <img class="league-item-breakdown" src="@participant.Items.Item2Url" alt="Image unavailable" height="35" width="35" />
                                <img class="league-item-breakdown" src="@participant.Items.Item3Url" alt="Image unavailable" height="35" width="35" />
                                <img class="league-item-breakdown" src="@participant.Items.Item4Url" alt="Image unavailable" height="35" width="35" />
                                <img class="league-item-breakdown" src="@participant.Items.Item5Url" alt="Image unavailable" height="35" width="35" />
                                <img class="league-item-breakdown" src="@participant.Items.Item6Url" alt="Image unavailable" height="35" width="35" />
                            </div>
                        </div>
                </div>
            }
            @if (team.Key == 100)
            {
                <div class="col-md-12" style="margin-top: 20px; margin-bottom: 20px;">
                    <div class="row">
                        <div class="col-md-2" style="display: flex; justify-content:center; align-items: center;">
                            @Model.TeamsBreakdown.BlueTeamBaronKills / @Model.TeamsBreakdown.BlueTeamDragonKills / @Model.TeamsBreakdown.BlueTeamTowerKills
                        </div>
                        <div class="col-md-8">
                            <div class="game-kills-container">
                                <div class="total-kills-text">Total Kills</div>
                                <div class="blue-team-kills">@Model.TeamsBreakdown.BlueTeamChampionKills</div>
                                <div class="game-kills-blue-team-bar" style="flex: @Model.TeamsBreakdown.BlueTeamChampionKills;"></div>
                                <div class="game-kills-red-team-bar" style="flex: @Model.TeamsBreakdown.RedTeamChampionKills;"></div>
                                <div class="red-team-kills"> @Model.TeamsBreakdown.RedTeamChampionKills</div>

                            </div>
                            <div class="game-gold-container">
                                <div class="total-gold-text">Total gold</div>
                                <div class="blue-team-gold">@Model.TeamsBreakdown.BlueTeamGold</div>
                                <div class="game-gold-blue-team-bar" style="flex: @Model.TeamsBreakdown.BlueTeamGold;"></div>
                                <div class="game-gold-red-team-bar" style="flex: @Model.TeamsBreakdown.RedTeamGold;"></div>
                                <div class="red-team-gold">@Model.TeamsBreakdown.RedTeamGold</div>
                            </div>
                        </div>
                        <div class="col-md-2" style="display: flex; justify-content:center; align-items: center;">
                            @Model.TeamsBreakdown.RedTeamBaronKills / @Model.TeamsBreakdown.RedTeamDragonKills / @Model.TeamsBreakdown.RedTeamTowerKills
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>
