@model List<intrapp.Models.Match>
@foreach (var match in Model)
{
    var kills = match.ParticipantForDisplay.Participant.Stats.Kills;
    var deaths = match.ParticipantForDisplay.Participant.Stats.Deaths;
    var assists = match.ParticipantForDisplay.Participant.Stats.Assists;

    var kda = Math.Round((double)(kills + assists) / deaths, 2);
    var gameDurationTimeSpan = TimeSpan.FromSeconds(match.GameDuration);


    <div class="card" style="margin-bottom: 5px;">
        <div class="card-body" style="padding:0.50rem 0.75rem !important;">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2" style="height: 100%;">
                            <div class="game-stats-queue">
                                <b>@match.QueueTypeName</b><br />
                                <small>@match.WasPlayed</small><br />
                            </div>
                            <div class="game-stats-result">
                                <b>@match.GameResult</b><br />
                                <small>@match.GameDurationStr</small>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-6">
                                    <span style="position:absolute; top: 11px;">@match.ParticipantForDisplay.ChampionName</span>
                                    <div id="participantImages" style="position:relative">
                                        <img class="champion-portrait" src="@match.ParticipantForDisplay.ChampionIconUrl" alt="Image unavailable" height="80" width="80" />
                                        <img class="summoner-spell-one" src="@match.ParticipantForDisplay.SummonerSpell1IconUrl" alt="Image unavailable" height="38" width="38" />
                                        <img class="summoner-spell-two" src="@match.ParticipantForDisplay.SummonerSpell2IconUrl" alt="Image unavailable" height="38" width="38" />
                                        <img class="keystone" src="@match.ParticipantForDisplay.RuneKeystoneIconUrl" alt="Image unavailable" height="38" width="38" />
                                        <img class="secondary-path" src="@match.ParticipantForDisplay.RuneSecondaryPathIconUrl" alt="Image unavailable" height="33" width="33" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div id="kda">
                                        @kills / @deaths / @assists <br />
                                        @(kda != double.PositiveInfinity ? kda.ToString() : "Perfect") KDA<br />
                                        @match.ParticipantForDisplay.Participant.Stats.TotalMinionsKilled (@Math.Round(match.ParticipantForDisplay.Participant.Stats.TotalMinionsKilled / gameDurationTimeSpan.TotalMinutes, 1)/min) CS<br />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-4">
                                    <div id="stats">
                                        Level @match.ParticipantForDisplay.Participant.Stats.ChampLevel<br />
                                        K/P @match.ParticipantForDisplay.KillParticipationPercentage%<br />
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div id="items">
                                        <div style="margin-bottom: 2px;">
                                            @if (string.IsNullOrWhiteSpace(match.ParticipantForDisplay.Items.Item0Url))
                                            {

                                            }
                                            <img class="league-item" src="@match.ParticipantForDisplay.Items.Item0Url" alt="Image unavailable" height="38" width="38" />
                                            <img class="league-item" src="@match.ParticipantForDisplay.Items.Item1Url" alt="Image unavailable" height="38" width="38" />
                                            <img class="league-item" src="@match.ParticipantForDisplay.Items.Item2Url" alt="Image unavailable" height="38" width="38" />
                                            <img class="league-item" src="@match.ParticipantForDisplay.Items.Item6Url" alt="Image unavailable" height="38" width="38" />
                                        </div>
                                        <div>
                                            <img class="league-item" src="@match.ParticipantForDisplay.Items.Item3Url" alt="Image unavailable" height="38" width="38" />
                                            <img class="league-item" src="@match.ParticipantForDisplay.Items.Item4Url" alt="Image unavailable" height="38" width="38" />
                                            <img class="league-item" src="@match.ParticipantForDisplay.Items.Item5Url" alt="Image unavailable" height="38" width="38" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        @foreach (var team in match.ParticipantsByTeam)
                        {
                            <div class="col-md-6">
                                @foreach (var participant in team)
                                {
                                    <span style="display: block; margin-bottom: 2px;">
                                        <img src="@participant.ChampionPlayedIcon" alt="Image unavailable" height="30" width="30" />
                                        <a name="playerLink" href="/Summoner/SummonerInfo?summonerName=@participant.Player.SummonerName&region=@ViewBag.SelectedRegion">
                                            @(string.IsNullOrWhiteSpace(participant.DisplayedSummonerName) ? participant.Player.SummonerName : participant.DisplayedSummonerName)
                                        </a>
                                    </span>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
            <hr id="breakdown_hr_@match.GameId" style="display: none;"/>
            <div id="BreakdownDiv_@match.GameId" style="display: none;">
            </div>
            <div id="CloseBtn" name="CloseBtn_@match.GameId" style="display: none;" onclick="CloseMatchBreakDown('@match.GameId')">
                <i name="CloseArrows" class="fa fa-caret-up" aria-hidden="true"></i>
                <span id="BreakdownSpan">Close</span>
                <i name="CloseArrows" class="fa fa-caret-up" aria-hidden="true"></i>
            </div>
            <div id="MoreDetailsBtn" name="MoreDetailsBtn_@match.GameId" onclick="OpenMatchBreakdown('@match.ParticipantForDisplay.ParticipantIdentity.Player.AccountId', '@ViewBag.SelectedRegion', '@match.GameId')">
                <div id="BreakdownWaitingDiv_@match.GameId" style="text-align: center; margin-right: -14px; display: none;" class="float-right">
                    <span class="loader"><span class="loader-inner"></span></span>
                </div>
                <i name="BreakdownArrows" class="fa fa-caret-down" aria-hidden="true"></i>
                <span id="BreakdownSpan">Open match breakdown</span>
                <i name="BreakdownArrows" class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
        </div>
    </div>
}

