@model intrapp.Models.ViewModels.SummonerInfo
@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-12">
        <div name="waiting-div" style="text-align: center; display: none; margin-top: 10px;" class="float-right">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-3">
        <div class="card" style="margin-bottom: 5px; border: none;">
            <div class="card-header" style="border: none;">
                <b>Summoner</b>
            </div>
            <div class="card-body" style="border: none;">
                <div class="row">
                    <div class="col-3 col-sm-3 col-md-12 col-lg-6 col-xl-5">
                        <div class="image-container">
                            <img src="@Model.ProfileIconUrl" alt="Image unavailable" height="75" width="75" />
                            <span class="level">@Model.Summoner.SummonerLevel</span>
                        </div>
                    </div>
                    <div class="col-7 col-sm-7 col-md-12 col-lg-12 col-xl-7">
                        <b>@Model.Summoner.Name</b><br />
                        @Model.LastPlayed
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card" style="margin-right: -15px;">
            <div class="card-header">
                <b>League Entries</b>
            </div>
            <div class="card-body">
                @Html.Partial("_LeagueEntries", Model.LeagueEntries)
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h4>Match history</h4>
    <hr />
</div>
<div class="row">
    <div id="matchHistory" class="w-100">
        @Html.Partial("_MatchHistory", Model.MatchHistory.Matches)
        <span style="display: none;">@Model.Region</span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <button id="loadBtn" class="btn btn-primary" style="margin-left: -15px;">Load more</button>
        <div name="waiting-div" style="text-align: center; margin-right: -14px; display: none;" class="float-right">
            <span class="loader"><span class="loader-inner"></span></span>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            SetSummonerInfoHandlers("@Model.Summoner.AccountId", "@Model.Region");
            $("#summonerName").val("");
            $("#footer").removeClass("footer-index");
        });
    </script>
}
